<div class="container">
    <!-- Barra de Búsqueda y Filtros -->
    <div class="filter-container">
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Buscar por nombre/email" [(ngModel)]="busqueda" (input)="filtrarReservas()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field >

        <div class="filters">
            <input type="date" [(ngModel)]="filtro.fecha" (change)="filtrarReservas()">
            <select [(ngModel)]="filtro.cancha" (change)="filtrarReservas()">
                <option value="">Seleccionar cancha</option>
                <option *ngFor="let cancha of canchas" [value]="cancha">{{ cancha }}</option>
            </select>
            <select [(ngModel)]="filtro. horarioInicio" (change)="filtrarReservas()">
                <option value="">Horario de reserva</option>
                <option *ngFor="let horario of horarios" [value]="horario">{{ horario }}</option>
            </select>
        </div>
    </div>

    <!-- Contenedor de la Tabla -->
    <div class="table-container">
        <div class="table-header">
            <h2>Reservas</h2>
            <button class="new-reservation-btn" routerLink="/calendario">+ Nueva Reserva</button>
        </div>
        <table class="reservations-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Cancha</th>
                    <th>Jugador</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of reservasFiltradas">
                    <td>{{ reserva.turno.fecha }}</td>
                    <td>{{ reserva.turno.horarioInicio }}</td>
                    <td>{{ reserva.turno.cancha }}</td>
                    <td>{{ reserva.jugador.nombre }}</td>
                    <td>
                        <span class="status" [ngClass]="{
                            'confirmed': reserva.estado === 'Confirmado',
                            'pending': reserva.estado === 'Pendiente'
                        }">
                            {{ reserva.estado }}
                        </span>
                    </td>
                    <td>
                        <button class="delete-btn" (click)="cancelarReserva(reserva.id)">🗑</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
