<!-- Contenedor principal -->
<div class="calendar-container">
  <div class="table-wrapper">

    <!-- Bloque con borde negro para las filas de turnos -->
    <div class="calendar-block">

      <!-- Tabla de calendario -->
      <table class="calendar-table">
        <thead>
          <tr>
            <th class="date-header">
              <div class="date-picker-wrapper">
                <input
                  type="date"
                  id="date-picker"
                  class="date-picker"
                  [(ngModel)]="selectedDate"
                  (change)="onDateChange($event)"
                  [attr.min]="minDate"
                />
              </div>
            </th>
            <th [attr.colspan]="groupedHours.length * 2" class="hour-name">
              <div class="hour-wrapper">
                <div *ngFor="let hour of groupedHours" class="hour-box">
                  {{ hour }}
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let court of courts" >
            <td class="court-name">
              <div class="court-card">{{ court.name }}</div>
            </td>
            
            <td [attr.colspan]="timeSlotsDelDia.length" class="time-cell-wrapper">
              <div class="time-cell-block">
                <ng-container *ngFor="let slot of timeSlotsDelDia">
                  <div
                    [ngClass]="{
                      'cell': true,
                      'highlight': isHighlighted(court.id, slot),
                      'first-highlight': isFirstHighlight(court.id, slot),
                      'last-highlight': isLastHighlight(court.id, slot),
                      'past-time': isPastTime(slot),
                      'first-past': isFirstPastTime(court.id, slot),
                      'last-past': isLastPastTime(court.id, slot),
                      'reserved': isReserved(court.id, slot) === 'red',
                      'first-reserved': isFirstReserved(court.id, slot),
                      'last-reserved': isLastReserved(court.id, slot),
                      'blocked': isNotEnoughTimeBetweenReservations(court.id, slot)
                    }"
                    (click)="
                      !isPastTime(slot) &&
                      !isReserved(court.id, slot) &&
                      !isNotEnoughTimeBetweenReservations(court.id, slot) &&
                      showTimeOptions(court, slot, $event)"
                  ></div>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Menú de opciones -->
<div *ngIf="showOptionsMenu"
    class="options-menu"
    [ngStyle]="{
      top: optionsMenuPosition.top + 'px',
      left: optionsMenuPosition.left + 'px'
    }">
  <div class="info-box">
    <span>Blindex y sintético | Con iluminación | Techada</span><br />
  </div>
  <div class="option" (click)="onButtonClick()">
    1h 30min $
    {{
      isLoggedIn$ && isSocio
        ? (configuracion?.monto_reserva ?? 0) -
          ((configuracion?.monto_reserva ?? 0) * (configuracion?.descuento_socio ?? 0))
        : (configuracion?.monto_reserva ?? 0)
    }}
  </div>
</div>
