.form__container {
    max-width: 800px;
    margin: 80px auto 50px;
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
}

.form-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

mat-label {
    font-size: 1.1em;
    color: var(--text);
}

input {
    font-size: 1em;
    padding: 10px;
    border: 1px solid var(--pass-time);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    color: var(--text);
    width: 100%;
}

mat-error {
    color: #f44336;
    font-size: 0.9em;
}

.register-button {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background: var(--button-color-primary);
    color: var(--text);
    font-size: 1.1em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

button:disabled {
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

table th {
    background: #e5e7eb;
}

table input[type="time"] {
    width: 150px; 
    padding: 5px;
    font-size: 1em;
}

table input[type="checkbox"] {
    transform: scale(1.2); 
}