<div class="container">
    <!-- Filtros -->
    <div class="filter-card">
        <div class="filter-row">
            <mat-form-field appearance="outline">
                <mat-label>Buscar por nombre/email</mat-label>
                <input matInput placeholder="Search..." [(ngModel)]="busqueda" (input)="filtrarUsuarios()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <!-- Botones de acción -->
            <!-- <div class="filter-actions">
                <button mat-button color="primary" (click)="filtrarUsuarios()">Aplicar Filtros</button>
                <button mat-button color="warn" (click)="limpiarFiltros()">Limpiar Filtros</button>
            </div> -->
        </div>
    </div>

<!-- Encabezado de la Tabla register-empleado-->
<div class="header">
    <h2 class="titulo">Empleados</h2>
    <div class="btn-container">
        <button class="new-player-btn" routerLink="/register-empleado">+ Nuevo Empleado</button>
    </div>
</div>

<!-- Tabla de empelado -->
<div class="table-container">
    <table mat-table [dataSource]="empleadosDataSource" class="mat-elevation-z2">

        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre }} </td>
        </ng-container>

        <!-- Columna Email -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let usuario">
                <button mat-icon-button color="warn" (click)="eliminarUsuario(usuario.id)">
                    
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
</div>