/* NAVBAR */
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--background-accent);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}

.main-content {
    margin-top: 60px; /* Evita que el contenido quede tapado por la navbar */
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.navbar.scrolled {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Contenedor Navbar */
.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

/* Logo */
.navbar-logo {
    width: 60px;
    height: 60px;
    background-image: url('../../assets/images/Logo_Los_Ciruelos_Padel-removebg-preview.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Botones Navbar */
.navbar__container button {
    background-color: transparent;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 20px;
}

.navbar__container button:hover {
    background-color: var(--button-color-primary);
    color: black;
    transform: translateY(-2px);
}

.navbar__container button:active {
    background-color: var(--button-hover-color);
    transform: translateY(0);
}

/* Links Navbar */
.navbar-links {
    display: flex;
    gap: 20px;
}

/* ==================== SIDEBAR PARA DUEÑOS ==================== */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sidebar-logo {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/images/Logo_Los_Ciruelos_Padel-removebg-preview.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-close {
    background-color:#f8f9fa;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
}

.sidebar-close:hover {
    background-color: var(--button-color-primary);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    color: var(--text);
    transition: background 0.3s ease, transform 0.2s ease;
    border-radius: 5px;
}

.sidebar-menu button:hover {
    font-weight: 600;
    background: var(--button-color-secondary);
    color: var(--icon);
}