<!-- NAVBAR para usuarios normales (empleados) -->
<nav *ngIf="rol !== 'duenio'" class="navbar">
  <div class="navbar__container">
    <a routerLink="/" class="navbar-logo"></a>

    <div class="navbar-links">
      <button (click)="navigateOrScroll('sobre-nosotros')" type="button">Sobre Nosotros</button>
      <button (click)="navigateOrScroll('contactos')" type="button">Contacto</button>
      <button (click)="navigateOrScroll('services')" type="button">Servicios</button>
      <button routerLink="/profesores" type="button">Nuestros Profesores</button>

      <!-- Botón de login si no está autenticado -->
      <button *ngIf="!isLoggedIn" routerLink="/login" type="button">Iniciar Sesión</button>

      <!-- Botones extra para usuarios autenticados -->
      <ng-container *ngIf="isLoggedIn">
        <button routerLink="/mis-reservas" type="button">Mis reservas</button>
        <button routerLink="/perfil" type="button">Mi perfil</button>
        <button (click)="logout()" type="button">Cerrar Sesión</button>
      </ng-container>
    </div>
  </div>
</nav>

<!-- SIDEBAR para dueños -->
<aside *ngIf="rol === 'duenio'" class="sidebar">
  <div class="sidebar-header">
    <div routerLink="/home" class="sidebar-logo"></div>
    <button class="sidebar-close" (click)="logout()">Cerrar Sesión</button>
  </div>

  <ul class="sidebar-menu">
    <li>
      <button routerLink="/modificar_valores" type="button">Configuración General</button>
    </li>
    <li>
      <button routerLink="/consultar_usuarios" type="button">Usuarios</button>
    </li>
    <li>
      <button routerLink="/consultar_reservas" type="button">Reservas</button>
    </li>
    <li>
      <button routerLink="/consultar-empleado" type="button">Empleados</button>
    </li>

  </ul>
</aside>
